div > div {
    width: 100px;
    height: 100px;
}

body {
    background-color: black;
}

div {
    display: flex;
}

#div1 {
    background-color: red;
}

#div2 {
    background-color: green;
}

#div3 {
    background-color: blue;
}