* {
    color: white;
    font-size: 16pt;
}

.submenus {
  display: none;
  width: 80%;

}

.submenus > li {
  border: 1px solid black;
  background-color: rgb(35, 39, 78);
  padding: 10px;
  margin: 2px;
}
.submenus > li:hover {
  background-color: #57666d;
}

ul {
  width: 50%;
}

li {
    list-style: none;
}

body > ul > li {
    padding: 10px;
    background-color: #0e183a;
    border: 1px solid #000000;
}

li:hover {
    background-color: #40485a;
}