* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Index */

body {
  font-family: sans-serif;
  font-size: 400;
}

.index-body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Header */

.header {
  width: 100%;
  height: 140px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.social {
  background-color: red;
  width: 100%;
  height: 50px;
}

.social-icons {
  width: 250px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-self: self-end;
  margin-top: 5px;
  margin-right: 50px;
  margin-left: 70%;
}

.social-icons a {
  color: white;
  font-size: 28px;
}

.social-icons a:hover {
  color: lightgrey;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90px;
}

.nav-logo {
  margin-left: 50px;
  display: flex;
  align-items: center;
}

.nav-logo img {
  height: 5rem;
  margin: 10px;
}

.nav-link {
  display: flex;
  align-content: center;
  justify-content: flex-end;
  margin-right: 130px;
  margin-top: 20px;
}

.nav-link a {
  text-decoration: underline;
  color: black;
}

.index-main {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  height: 100%;
  background-image: url("../img/cover2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-container {
  display: grid;
  grid-column: 2;
  justify-content: center;
  text-align: center;
  height: 350px;
  margin-top: 80px;
}

.main-container__text {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 10px;
  color: black;
}

.main-container__link {
  background-color: red;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 20px;
  height: 45px;
}

.main-container__link:hover {
  background-color: brown;
}

/* Proyectos */

.proyectoPrincipal-section {
  background-color: lightgrey;
}

.proyectoPrincipal-content {
  padding: 10px 80px 40px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr;
}

.proyectoPrincipal-content img {
  grid-column: 1;
  width: 30%;
  display: inline-block;
  margin: 10px;
}

.proyectoPrincipal-info {
  grid-column: 2;
}

.proyectoPrincipal-info h2 {
  margin-bottom: 5%;
}

.proyectoPrincipal-info p {
  margin-bottom: 10%;
}

.proyectos-btn {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 15px 20px;
  font-size: 14px;
}

.proyectos-section {
  padding: 10px 80px 40px;
}

.proyectos-section h3 {
  border-bottom: 1px solid lightcoral;
}

.proyectos-book {
  display: inline-block;
  padding: 10px;
  max-width: 32%;
  margin-bottom: 20px;
  vertical-align: top;
}

.proyectos-book img {
  width: 100%;
  height: 20rem;
}

.proyectos-book h4 {
  margin: 20px 0;
}

.proyectos-book p {
  margin-bottom: 30px;
}

footer {
    width: 100%;
    height: 80px;
    background-color: #22272d;
    border-top: 35px solid #e6162e;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    color: white;
    text-align: center;
}